.content{
    position: absolute;
  left: 50%;
  top: 50%;
  width: 550px;
  height: 340px;
  transform: translate(-50%, -50%);
  border: 1px solid #adb5bd;
  box-shadow: 1px 3px 12px #ced4da;
  text-align:center;

  
  input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 10px;
    &.wrong{
      border:  1px solid red;
    }
    &.right{
      border:  1px solid green;
    }
  }
  &_confirm{
    margin-top: 2%;
    padding: 10px;
  }
  span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    &.red{
      font-size: 85%;
      color: red;
     
    }
  }
}