@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  // padding: 0;
  // margin: 0;
  // // list-style: none;
  // // outline: none;
}
body {
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app{
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
#root{
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  color: #333333;
  font-size: 14px;
  height: 100%;
}